Fabio <sagazluiz@hotmail.com> <thiago.siqui@usp.br> crossref_extractor.py
Fabio <sagazluiz@hotmail.com> <thiago.siqui@usp.br> crossref_generate_enriched_metadata.py
Fabio <sagazluiz@hotmail.com> <thiago.siqui@usp.br> enrich_dois_jcr.py
Fabio <sagazluiz@hotmail.com> <thiago.siqui@usp.br> papers_br.py